<template>
  <div class="modal" v-if="visible">
    <div class="modal__backdrop">
      <div class="modal__content">
        <div class="modal__header" v-if="header">
          <h2>{{ header }}</h2>
        </div>
        <div class="modal__body">
          <slot></slot>
        </div>
        <div
          class="modal__footer"
          v-if="hasCancelListener || hasAcceptListener"
        >
          <button
            class="modal__button"
            @click="$emit('cancel')"
            v-if="hasCancelListener"
          >
            {{ cancelText }}
          </button>
          <button
            class="modal__button"
            @click="$emit('accept')"
            v-if="hasAcceptListener"
          >
            {{ acceptText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__content {
  background-color: #fff;
}

.modal__header,
.modal__body,
.modal__footer {
  padding: 10px;
}

.modal__header {
  border-bottom: 1px solid #ccc;
}

.modal__body {
  display: flex;
  flex-direction: column;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.modal__button {
  margin-left: 10px;
  padding: 10px;
}
</style>

<script>
export default {
  computed: {
    hasCancelListener() {
      return this.$listeners && this.$listeners.cancel;
    },
    hasAcceptListener() {
      return this.$listeners && this.$listeners.accept;
    }
  },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    header: {
      type: String,
      default: ''
    },
    cancelText: {
      type: String,
      default: '取消'
    },
    acceptText: {
      type: String,
      default: '確定'
    }
  }
};
</script>