<template>
  <table class="order-table">
    <thead>
      <tr>
        <th class="order-table__header-cell">訂購品項</th>
        <th class="order-table__header-cell">總金額</th>
        <th class="order-table__header-cell">備註事項</th>
        <th class="order-table__header-cell"></th>
      </tr>
    </thead>
    <tbody v-for="(order, index) in orders" v-bind:key="order.id">
      <tr>
        <td class="order-table__cell">{{ order.name }}</td>
        <td class="order-table__cell">{{ order.price }}</td>
        <td class="order-table__cell">
          <pre>{{ order.notes }}</pre>
        </td>
        <td class="order-table__cell">
          <button
            class="order-table__button"
            @click="$emit('modify', { order, index })"
          >
            修改
          </button>
          <button
            class="order-table__button"
            @click="$emit('delete', { order, index })"
          >
            刪除
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<style>
.order-table {
  border: 1px solid #ccc;
}

.order-table__header-cell,
.order-table__cell {
  padding: 5px;
  border: 1px solid #ccc;
}

.order-table__cell:last-child {
  width: 120px;
  text-align: center;
}

.order-table__header-cell {
  font-weight: bold;
  color: #fff;
  background-color: #777;
}

.order-table__button {
  padding: 5px;
}

.order-table__button:last-child {
  margin-left: 5px;
}
</style>

<script>
export default {
  props: {
    orders: {
      type: Array,
      default: () => []
    }
  }
};
</script>