<template>
  <portal to="modal">
    <modal
      :visible="visible"
      @cancel="$emit('cancel')"
      @accept="accept"
      :acceptText="order.id ? '修改' : '新增'"
    >
      <div class="order-form">
        <input
          class="order-form__input"
          type="text"
          placeholder="訂購品項"
          ref="name"
          :value="order.name"
        />
        <input
          class="order-form__input"
          type="text"
          placeholder="總金額"
          ref="price"
          :value="order.price"
        />
        <textarea
          class="order-form__input"
          placeholder="備註事項"
          ref="notes"
          :value="order.notes"
        ></textarea>
      </div>
    </modal>
  </portal>
</template>

<style>
.order-form {
  display: flex;
  width: 576px;
  min-height: 300px;
  flex-direction: column;
}

.order-form__input {
  margin-top: 5px;
  padding: 10px;
}

.order-form__input:last-child {
  flex: 1;
}

@media (max-width: 576px) {
  .order-form {
    width: 100vw;
  }
}
</style>

<script>
import Modal from './Modal.vue';

export default {
  components: {
    Modal
  },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    order: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {};
  },
  methods: {
    getOrder() {
      const name = this.$refs.name.value;
      const price = this.$refs.price.value;
      if (!name || !price) {
        alert('[訂購品項]與[總金額不得為空]');
        return null;
      }
      return {
        id: this.order.id || Date.now(),
        name,
        price,
        notes: this.$refs.notes.value
      };
    },
    accept() {
      const order = this.getOrder();
      if (order) {
        this.$emit('accept', order);
      }
    }
  }
};
</script>