<template>
  <div id="app">
    <main class="main">
      <div class="main__menu" @click="showMenuModal = true">
        <img
          class="main__img"
          src="https://www.milkshoptea.com/upload/price/1907101436450000002.jpg"
        />
      </div>
      <div class="main__panel">
        <button class="main__button" @click="editOrder()">新增</button>
      </div>
      <order-form
        @cancel="showOrderForm = false"
        @accept="confirmOrder"
        :visible="showOrderForm"
        :order="selectOrder"
      ></order-form>
      <order-table
        :orders="orders"
        @delete="deleteOrder"
        @modify="modifyOrder"
      ></order-table>
    </main>
    <modal
      @cancel="showMenuModal = false"
      cancelText="關閉"
      :visible="showMenuModal"
      class="main__modal-menu"
    >
      <img
        class="main__img"
        src="https://www.milkshoptea.com/upload/price/1907101436450000002.jpg"
      />
    </modal>
    <portal-target name="modal"></portal-target>
  </div>
</template>

<style>
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#app {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background: #eee;
}

.main {
  display: flex;
  flex-direction: column;
  width: 768px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

.main__panel {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.main__button {
  padding: 10px;
}

.main__menu {
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.main__img {
  max-width: 100%;
  max-height: 100%;
}

.main__modal-menu .main__img {
  max-height: 80vh;
}

@media (max-width: 768px) {
  .main {
    width: 100vw;
  }
}
</style>

<script>
import OrderForm from './components/OrderForm.vue';
import OrderTable from './components/OrderTable.vue';
import Modal from './components/Modal.vue';

export default {
  components: {
    OrderForm,
    OrderTable,
    Modal
  },
  data() {
    return {
      showOrderForm: false,
      showMenuModal: false,
      selectOrder: {},
      selectedIndex: -1,
      orders: [
        {
          id: Date.now(),
          name: '珍珠拿鐵(M)',
          price: '55',
          notes: '不加冰塊\n不加糖'
        }
      ]
    };
  },
  methods: {
    editOrder(order = {}) {
      this.showOrderForm = true;
      this.selectOrder = order;
    },
    confirmOrder(order) {
      if (this.selectedIndex !== -1) {
        this.orders = [
          ...this.orders.slice(0, this.selectedIndex),
          order,
          ...this.orders.slice(this.selectedIndex + 1)
        ];
      } else {
        this.orders.push(order);
      }
      this.showOrderForm = false;
      this.selectOrder = {};
      this.selectedIndex = -1;
    },
    modifyOrder({ order, index }) {
      this.showOrderForm = true;
      this.selectOrder = order;
      this.selectedIndex = index;
    },
    deleteOrder({ index }) {
      if (confirm('確定刪除?')) {
        this.orders = [
          ...this.orders.slice(0, index),
          ...this.orders.slice(index + 1)
        ];
      }
    }
  }
};
</script>